<div class="buttons-container animate__animated animate__fadeIn" style="height: auto; width: 60px;">

    <a href="https://wa.me/2236005236?text=Hola, me interesa obtener más información sobre uno de sus productos, Muchas gracias."
        target="_blank" rel="noopener noreferrer" class="wpp-icon" style="text-decoration: none;">
        <img src="assets/whatsappO.png" alt="whatsapp" style="height: auto; width: 60px;">
    </a>
    <!--
        <button class="button" onclick="window.location.href='mailto:equimaq.mail@gmail.com?subject=Consulta%20sobre%20producto&body=Hola,%20me%20gustaría%20obtener%20más%20información%20sobre%20el%20producto%20[nombre%20del%20producto].%20¿Podrían%20proporcionarme%20detalles%20como%20el%20precio,%20disponibilidad%20y%20características?%20Gracias.'">
            <img src="assets/gmailO.png" alt="gmail">
        </button>
    -->
</div>