.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed; 
    top: 200px; 
    left: 20px; 
    z-index: 999; 
    background-color: transparent;
}

.buttons-container img {
    height: auto;
    width: 80px;
}


@media (max-width: 768px) {
    .buttons-container {
        left: 10px; 
        top: 200px;
    }

    .buttons-container img {
    width: 80px;  
    
    }
}
