.buttons-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-start; 
    height: 50px;
    padding: 0 20px;
    position: sticky;
    top: 520px;
    background-color: transparent;
    z-index: 1000;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
    height: 60px; 
    width: 60px; 
    margin-bottom: 20px; 
}

.button img {
    height: auto;
    width: 120%;
}