<div class="buttons-container animate__animated animate__fadeIn" [ngClass]="{ 'dark-mode': isDarkMode }">
    <a href="https://wa.me/2235589149?text=Hola, me interesa obtener más información sobre uno de sus productos, Muchas gracias."
        target="_blank" class="wpp-icon">
        <img class="wpp-image" src="assets/misc/whatsapp1.png" alt="whatsapp">
    </a>
</div>


<div class="scroll-top-btn animate__animated animate__fadeIn" [ngClass]="{ 'dark-mode': isDarkMode }" (click)="scrollToTop()">
        <img class="scroll-top-image" src="assets/misc/up.png" alt="Scroll to Top" type="button">
</div>
