<header class="header animate__animated animate__fadeIn" style="color: #E4DDD3;">
    <a class="navbar-brand logo" href="#">
        <img src="assets/Equimac.png" alt="Logo" style="width: 120px; height: auto;">
    </a>
    <div class="search">
        <div class="wrapper animate__animated animate__fadeIn">
            <div class="limit-width" #asBoxInput>
                <input class="form-control input-src" [spellcheck]="false" placeholder="🔍 Buscar productos" type="text">
                <div class="results" type="button">
                  <!--
                    <ul>
                         <li *ngFor="let friend of filteredFriends"
                            [ngClass]="{'followed': isFriend(friend),'not-followed': !isFriend(friend) }"
                            (click)="selectedFriends(friend)" data-bs-toggle="modal" data-bs-target="#ModalFollow">

                            <div target="_blank" type="button">
                                <p style="margin-top: 10px;">{{friend.id}}</p>
                            </div>

                            <img [src]="friend.url_photo" alt="User Photo" class="user-photo rounded-circle"
                                style="margin-top: 1px;">
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </div>
</header>
