.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #531D26;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo img {
    margin-left: 0;
    width: 120px;
    height: auto;
    margin-top: 20px;
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-src {
    font-weight: 400 !important;
    border: solid 1px #D8D8D8;
    border-radius: 2rem;
    background-color: #D8D8D8;
    padding: .75rem;
    font-size: 1rem;
    width: 80%; 
}

.limit-width {
    width: 40rem;
    position: relative;
}

.results {
    background: #D8D8D8;
    padding: 0;
    margin-top: .5rem;
    border-radius: 1rem;
    width: 80%; 
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translateX(-50%);
    max-height: 300px; 
    overflow-y: auto; 
    z-index: 1001;
}

.results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    padding: .75rem; 
    border-bottom: solid 1px #D8D8D8;
    cursor: pointer;
}

.ulCompare {
    list-style-type: none;
    padding: 0;
}

.liCompare {
    margin-bottom: 5px;
    padding-left: 20px;
    line-height: 20px;
}

.liCompare div {
    display: flex;
    align-items: center;
}

.liCompare img {
    margin-right: 10px;
}

.results ul li:last-child {
    border-bottom: transparent;
}

.results ul li {
    padding: .35rem;
    border-radius: 1rem;
    transition: all ease 150ms;
}

.results ul li:hover {
    background-color: #E0E0E0;
}

.results ul li .product-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.product-photo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: 5%;
}
