<header class="header animate__animated animate__fadeIn">
    <a class="navbar-brand logo" href="#">
      <img src="assets/Equimac.png" alt="Logo" style="width: 120px; height: auto;">
    </a>
    <div class="search">
      <div class="wrapper animate__animated animate__fadeIn">
        <div class="limit-width" #asBoxInput>
          <input 
            class="form-control input-src" 
            [spellcheck]="false" 
            placeholder="🔍 Buscar productos" 
            type="text"
            (input)="searchProducts($event)"
          >
          <div class="results" type="button" >
            <ul>
              <li *ngFor="let product of filteredProducts" [routerLink]="['/products/view/', product.id]"
              href="#">
                <div>
                  <p style="margin-top: 10px;"><strong>{{product.name}}</strong></p>
                </div>
                <img [src]="product.images[0]" alt="product Photo" class="product-photo rounded-circle" style="margin-top: 1px;">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  