.containerA {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 1140px;
}


.footer {
    background-color: #531D26;
    padding: 20px 0;}

.contact-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
        text-align: center;
}

.contact-item {
    margin-bottom: 5px;
    font-size: 16px;
    margin-left: 10px;
    text-align: center;
}

.contact-item-container {
    display: flex;
    align-items: center;
    justify-content:left;
    margin-bottom: 10px; 
}

.contact-item-container img {
    margin-right: 8px; 
}

/*-------------------------------------------*/
.containerE {
    transform: scale(1.0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.containerE:after {
    position: absolute;
    top: 390px;
}

.containerE:hover {
    transform: scale(1.14);
}

.containerE-inner {
    position: relative;
    transform-origin: 50%;
    top: -160px;
    right: 140px;
}

.containerE:hover .img {
    transform: translateY(0) scale(1.2);
}


.seccion-izquierda {
    float: left;
    width: 33.33%;
}

.seccion-central {
    text-align: center;
}

.seccion-derecha {
    float: right;
    width: 33.33%;
    text-align: center;
}


