<footer class="footer animate__animated animate__fadeIn">
    <div class="containerA">
        <!--Seccion1-->
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4 contact-info text-center">
                <div class="contact-item-container justify-content-center">
                    <img src="assets/Maps.png" alt="Mapa" style="height: auto; width: 40px;">
                    <p class="contact-item" style="color: #E4DDD3; margin-left: 5px;">De los Inmigrantes 219</p>
                </div>
                <div class="contact-item-container justify-content-center">
                    <img src="assets/Gmail.png" alt="Gmail" style="height: auto; width: 40px;">
                    <p class="contact-item" style="color: #E4DDD3; margin-left: 5px;">equimaq.mail@gmail.com</p>
                </div>
                <div class="contact-item-container justify-content-center">
                    <img src="assets/Mobile.png" alt="Teléfono" style="height: auto; width: 40px;">
                    <p class="contact-item" style="color: #E4DDD3; margin-left: 5px;">+54 0223 482-5135</p>
                </div>
                <div class="contact-item-container justify-content-center">
                    <a href="https://www.facebook.com/p/Equimaq-100057389442709/" target="_blank"
                       rel="noopener noreferrer" class="social-icon" style="text-decoration: none;">
                        <img src="assets/facebook.png" alt="facebook" style="height: auto; width: 35px;">
                        <span class="contact-item" style="color: #E4DDD3; margin-left: 5px;">Equimaq Facebook</span>
                    </a>
                </div>
            </div>
            <!--Seccion2-->
            <div class="col-md-4 text-center">
                <img src="assets/Equimac.png" alt="Logo" class="logo img-fluid" style="width: 150px; height: auto;">
            </div>
            <!--Seccion3-->
            <div class="col-md-4 text-center containerE">
                <img src="assets/Time.png" alt="Horario" style="height: auto; width: 40px; margin-bottom: 5px;">
                <div class="contact-item-container justify-content-center">
                    <p class="contact-item" style="color: #E4DDD3;">Lunes a Viernes: 8:30 - 16:30</p>
                </div>
                <div class="contact-item-container justify-content-center">
                    <p class="contact-item" style="color: #E4DDD3; margin-top: -5px;">Sábado: 8:30 - 13:00</p>
                </div>
            </div>
        </div>
    </div>
</footer>