<footer class="footer animate__animated animate__fadeIn">

    <div class="containerA">
        <!--Seccion1-->
        <div class="row align-items-center justify-content-center" style="margin-bottom: -2%;">

            <div class="col-md-4 contact-info">
                <div class="contact-item-container">
                    <img src="assets/Gmail.png" alt="Gmail" style="height: auto; width: 35px;">
                    <p class="contact-item" style="color: #D8D8D8;">equimaq.mail@gmail.com</p>
                </div>
                <div class="contact-item-container">
                    <img src="assets/Maps.png" alt="Mapa" style="height: auto; width: 35px;">
                    <p class="contact-item" style="color: #D8D8D8;">De los Inmigrantes 219</p>
                </div>
                <div class="contact-item-container">
                    <img src="assets/Mobile.png" alt="Teléfono" style="height: auto; width: 35px;">
                    <p class="contact-item" style="color: #D8D8D8;">+54 0223 482-5135</p>
                </div>
                <div class="contact-item-container" style="margin-left: 3px;">
                    <a href="https://www.facebook.com/p/Equimaq-100057389442709/" target="_blank"
                        rel="noopener noreferrer" style="text-decoration: none;">
                        <img src="assets/facebook.png" alt="facebook" style="height: auto; width: 30px;">
                        <span class="contact-item" style="color: #D8D8D8;">Equimaq Facebook</span>
                    </a>
                </div>
            </div>
            <!--Seccion2-->
            <div class="col-md-4 text-center">
                <img src="assets/Equimac.png" alt="Logo" class="logo img-fluid" style="width: 150px; height: auto;">
            </div>
            <!--Seccion3-->
            <div class="col-md-4 text-center containerE">
                <img src="assets/Time.png" alt="Horario" style="height: auto; width: 35px; margin-bottom: 5px;">
                <div class="contact-item-container justify-content-center">
                    <p class="contact-item" style="color: #D8D8D8;">Lunes a Viernes: 8:30 - 16:30</p>
                </div>
                <div class="contact-item-container justify-content-center">
                    <p class="contact-item" style="color: #D8D8D8; margin-top: -5px;">Sábado: 8:30 - 13:00</p>
                </div>
            </div>
        </div>

    </div>

</footer>

<div class="animate__animated animate__fadeIn" style="background-color: #1A1A1A; height: 50px; width: 100%; padding-top: 1%; text-align: center;">
    <span class="contact-item" style="color: #D8D8D8;">Powered by</span>
    <a href="https://www.linkedin.com/in/franco-guidi01/" target="_blank" rel="noopener noreferrer"
        style="text-decoration: none;">
        <span class="contact-item" style="color: #D8D8D8;"><strong>FG</strong></span>
    </a>
    <span class="contact-item" style="color: #D8D8D8;">&</span>
    <a href="https://www.linkedin.com/in/kevin-tolosa/" target="_blank" rel="noopener noreferrer"
        style="text-decoration: none;">
        <span class="contact-item" style="color: #D8D8D8;"><strong>KT</strong></span>
    </a>
</div>