<footer class="footer-section animate__animated animate__fadeIn">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30 containerE">
                    <div class="single-cta d-flex align-items-center">
                        <img src="assets/Maps.png" style="height: auto; width: 40px;">
                        <div class="cta-text">
                            <h4>Direccion</h4>
                            <span>De los Inmigrantes 219</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30 containerE">
                    <div class="single-cta d-flex align-items-center">
                        <img src="assets/Mobile.png" style="height: auto; width: 40px;">
                        <div class="cta-text">
                            <h4>Telefono</h4>
                            <span>+54 0223 482-5135</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30 containerE">
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active" href="#">
                        <div class="single-cta d-flex align-items-center">
                            <img src="assets/Gmail.png" style="height: auto; width: 40px;">
                            <div class="cta-text">
                                <h4>Mail</h4>
                                <span>equimaq.mail@gmail.com</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/Equimac.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-social-icon">
                            <span>Seguinos</span>
                            <a href="https://www.facebook.com/p/Equimaq-100057389442709/" target="_blank">
                                <img src="assets/facebook.png" style="height: auto; width: 40px;">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Atajos</h3>
                        </div>
                        <ul>
                            <li><a class="nav-link" [routerLink]="['']" routerLinkActive="active" href="#">Inicio</a>
                            </li>
                            <li><a class="nav-link" [routerLink]="['/about-us']" routerLinkActive="active"
                                    href="#">Nosotros</a></li>
                            <li><a class="nav-link" [routerLink]="['/products']" routerLinkActive="active"
                                    href="#">Productos</a></li>
                            <li><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active"
                                    href="#">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Horarios</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <div class="contact-item-container justify-content-center">
                                <p>Lunes a Viernes: 8:30 - 16:30</p>
                            </div>
                            <div class="contact-item-container justify-content-center">
                                <p>Sábado: 8:30 - 13:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="text-center text-lg-left">
                    <div class="copyright-text containerE">
                        <p>Powered By
                            <a href="https://www.linkedin.com/in/kevin-tolosa/" target="_blank"
                                rel="noopener noreferrer" style="text-decoration: none;">
                                <span class="contact-item" style="color: #D8D8D8;"><strong>KT</strong></span>
                            </a>
                            &
                            <a href="https://www.linkedin.com/in/franco-guidi01/" target="_blank"
                                rel="noopener noreferrer" style="text-decoration: none;">
                                <span class="contact-item" style="color: #D8D8D8;"><strong>FG</strong></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>