

body.dark-mode{
    background-color: #1A1A1A;
}

body {
    background-color: #d8d8d8;
    padding-top: 150px;
    margin: 0;

}

.background {
    background-image: url('/assets/Background.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}


.profilePhoto {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profilePhoto img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profileText {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
}

.profileText .title {
    font-size: 30px;
}

/*----------------------------------------------------*/

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

.persons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.object {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin: 20px;
}

.container {
    border-radius: 50%;
    height: auto;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    max-width: 400px;
    margin: auto;

}

.container:after {
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
}

.container:hover {
    transform: scale(0.54);
}

.container-inner {
    position: relative;
    transform-origin: 50%;
    top: -160px;
    right: 140px;
}

.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container:hover .img {
    transform: translateY(0) scale(1.2);
}

/*---------------------------------------------------*/
.containerE {
    transform: scale(1.0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.containerE:after {
    position: absolute;
    top: 390px;
}

.containerE:hover {
    transform: scale(1.54);
}

.containerE-inner {
    position: relative;
    transform-origin: 50%;
    top: -160px;
    right: 140px;
}

.containerE:hover .img {
    transform: translateY(0) scale(1.1);
}

/*---------------------------------------------------*/

.icon1 {
    left: 50px;
    top: -100px;
    width: 550px;
}

.image-container {
    flex: 0 0 auto;
}


.profileContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 20px;
}


body.dark-mode .title, body.dark-mode .icon-text {
    color: #d8d8d8; 
}

body.dark-mode .line-image {
    content: url('/assets/Line2.png'); 
}

body.dark-mode .trust-image {
    content: url('/assets/Trust2.png'); 
}

body.dark-mode .ship {
    content: url('/assets/Ship2.png'); 
}

body.dark-mode .payment {
    content: url('/assets/Payment2.png'); 
}

body.dark-mode .customerSupport {
    content: url('/assets/CustomerSupport2.png'); 
}

.title {
    font-family: 'Raleway', sans-serif;
    color: #1A1A1A;
    font-size: 30px;
    font-weight: 600;
    margin: 16px 0;
    text-align: center;
    text-transform: uppercase;

}

/*-----------------------infinite Carousel with autoplay------------------------------*/

.white-gradient {
    background: linear-gradient(to right, rgba(216, 216, 216, 1) 0%, rgba(216, 216, 216, 0) 100%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}


.slider {
    background: #d8d8d8;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 60%;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(216, 216, 216, 1) 0%, rgba(216, 216, 216, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}


.slide img {
    width: 100%;
    height: auto;
}

body.dark-mode {
    background-color: #1A1A1A;
}

body.dark-mode .slider {
    background: #1A1A1A;
}

body.dark-mode .slider::before,
body.dark-mode .slider::after {
    background: linear-gradient(to right, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0) 100%);
}

body.dark-mode .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

body.dark-mode .slide img {
    filter: brightness(0.8);
}
/*----------------------------------------------------------------------------------*/
.containerB {
    margin: 0 auto;
    max-width: 1140px;
    margin-bottom: 40px;
}

.containerD {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}


.icon {
    margin-bottom: 10px;
    text-align: center;

}

.icon-text {
    margin-top: 10px;
    font-size: 18px;
}

.logoP {
    width: 80px;
    height: auto;
}

.logo {
    width: 150px;
    height: auto;
}

/*----------------MAP-------------------*/
.maps {
    border-radius: 1%;
    width: 100%;
    height: 300px;
}
/*----------------CAROUSEL-------------------*/
.carousels-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    width: 100%;
}

.carousel-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin: 10px;
    width: 100%;

}

.large-carousel {
    width: 100%;
    height: auto; 
    overflow: hidden;
}

.carousel-inner img {
    width: 80%;
    height: auto;
    object-fit: cover;
    max-height: 300px; 
}

/*-----------------TEXT LINE-------------------------*/
.line-image {
    width: 200px;
    height: auto;
}

.principal-Title, .principal-Title:after {
    font-weight: 900;
    color: #531D26;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
}

.dark-mode .principal-Title, .dark-mode .principal-Title:after {
    color: #313179;
}


.principal-Title {
    font-size: 3em; 
    z-index: 100;
    text-shadow: .04em .04em 0 #657572;
}

.principal-Title:after {
    content: attr(data-shadow-text);
    color: rgba(0,0,0,.35);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
    mask-image: url(//f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}

h2 {
    font-size: x-large;
    color: #1a1a1a;
    text-align: center;
    position: relative; 
    margin-bottom: 20px;
}

.dark-mode h2{
    color: #d8d8d8;
}