<app-overlapping></app-overlapping>
<app-header></app-header>

<body>
    <app-navbar></app-navbar>
    <!--------------------------------Inicio------------------------------->

    <div class="animate__animated animate__fadeIn" style="margin-bottom: 0%; margin-top: 5%;">
        
        <div class="object">
            <div class="container">
                <img class="img img1" src="assets/Machine.png">
            </div>
            <div class="profileContainer">
                <div class="profileText">
                    <div class="title">"Tus distribuidores de confianza"</div>
                    <div class="text text-center"><strong>"En Distribuidora
                            Gastronómica, nos dedicamos a proporcionar equipos de alta calidad para la industria de la
                            gastronomía. Desde hornos industriales hasta utensilios especializados, ofrecemos soluciones
                            confiables y eficientes para cocinas comerciales.
                            Con más de veinte años de experiencia, nuestro compromiso es brindar productos de primera
                            calidad y un servicio excepcional. Ya sea que esté buscando equipar su cocina o mejorar su
                            equipo existente, en Distribuidora Gastronómica encontrará las soluciones que necesita para
                            impulsar su negocio hacia el éxito gastronómico."</strong></div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------Products Carousel------------------------------>

    <div class="title animate__animated animate__fadeIn"
        style="display: flex; align-items: center; justify-content: center;">
        <img src="assets/Line.png" alt="Línea" class="line-image">
        <span style="margin: 0px;">ALGUNOS PRODUCTOS</span>
        <img src="assets/Line.png" alt="Línea" class="line-image">
    </div>

    <div class="carousels-wrapper">
        <div class="carousel-row">
            <div class="carousel-container large-carousel">
                <div id="carouselExampleInterval1" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3500">
                            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" href="#"
                                style="text-decoration: none; color: #E4DDD3;">
                                <img src="assets/Machine2.jpg" alt="Imagen">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="3200">
                            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" href="#"
                                style="text-decoration: none; color: #E4DDD3;">
                                <img src="assets/Machine3.jpg" alt="Imagen">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-container large-carousel">
                <div id="carouselExampleInterval2" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3800">
                            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" href="#"
                                style="text-decoration: none; color: #E4DDD3;">
                                <img src="assets/Machine2.jpg" alt="Imagen">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="3500">
                            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" href="#"
                                style="text-decoration: none; color: #E4DDD3;">
                                <img src="assets/Machine3.jpg" alt="Imagen">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-container large-carousel">
                <div id="carouselExampleInterval3" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3200">
                            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" href="#"
                                style="text-decoration: none; color: #E4DDD3;">
                                <img src="assets/Machine2.jpg" alt="Imagen">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="3700">
                            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active" href="#"
                                style="text-decoration: none; color: #E4DDD3;">
                                <img src="assets/Machine3.jpg" alt="Imagen">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!--------------------------------Extra-------------------------------->

    <div class="containerD animate__animated animate__fadeIn" style="margin-bottom: 5%;">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4 text-center">
                <div class="icon containerE">
                    <img src="assets/Ship.png" alt="Logo" class="logoP  img-fluid">
                    <p class="icon-text"><strong>ENVIOS A TODO EL PAIS</strong></p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="icon containerE">
                    <img src="assets/Payment.png" alt="Logo" class="logoP img-fluid">
                    <p class="icon-text"><strong>PRECIOS NEGOCIABLES</strong></p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="icon containerE">
                    <img src="assets/CustomerSupport.png" alt="Logo" class="logoP img-fluid">
                    <p class="icon-text"><strong>ATENCION PERSONALIZADA</strong></p>
                </div>
            </div>
        </div>
    </div>


    <!--------------------------------Infinite Carousel companies-------------------------------->

    <div class="animate__animated animate__fadeIn" style="margin-bottom: 5%;">
        <div class="title" style="align-items: center; justify-content: center;">
            <img src="assets/Line.png" alt="Línea" class="line-image">
            <span style="margin: 0 10px;">NUESTROS CLIENTES</span>
            <img src="assets/Line.png" alt="Línea" class="line-image">
        </div>
        <div class="slider ">
            <div class="slide-track  ">
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250"
                        alt="" />
                </div>
                <div class="slide">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250"
                        alt="" />
                </div>
            </div>
        </div>
    </div>

    <!--------------------------------Map-------------------------------->
    <div class="containerB animate__animated animate__fadeIn" style="text-align: center;">
        <div class="title" style="display: flex; align-items: center; justify-content: center;">
            <img src="assets/Line.png" alt="Línea" class="line-image">
            <span style="margin: 0 10px;">DONDE ENCONTRARNOS</span>
            <img src="assets/Line.png" alt="Línea" class="line-image">
        </div>
        <iframe class="maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4445.510719696317!2d-57.5850286944935!3d-38.01326933652778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dec5764e9291%3A0x7e759bb07ace8e4d!2sDe%20los%20Inmigrantes%20219%2C%20B7608EEE%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1715915465055!5m2!1ses-419!2sar"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>



</body>

<app-footer></app-footer>