<app-header></app-header>

<body>
    <app-navbar></app-navbar>


    <div id="company-card-list" class="animate__animated animate__fadeIn">
        <div class="company-card animate__animated animate__fadeInLeft" data-company="quienes-somos">
            <div class="company-card__overlay"></div>
            <div class="company-card__content">
                <div class="company-card__header">
                    <h1 class="company-card__title">Calidad Superior</h1>
                    <h4 class="company-card__info">Equipos Certificados</h4>
                </div>
                <p class="company-card__desc">Nuestras productos cumplen con los más altos estándares de calidad y seguridad, garantizando un rendimiento óptimo y duradero. Cada equipo es sometido a rigurosas pruebas antes de salir al mercado, asegurando así la satisfacción de nuestros clientes.</p>
            </div>
        </div>
    </div>
    <div id="company-card-list" class="animate__animated animate__fadeIn">
        <div class="company-card animate__animated animate__fadeInRight"  data-company="quienes-somos">
            <div class="company-card__overlay"></div>
            <div class="company-card__content">
                <div class="company-card__header">
                    <h1 class="company-card__title">Innovación</h1>
                    <h4 class="company-card__info">Tecnología de Punta</h4>
                </div>
                <p class="company-card__desc">Implementamos las últimas tecnologías en nuestros productos para ofrecer soluciones innovadoras a nuestros clientes. Nos mantenemos a la vanguardia del sector, incorporando avances tecnológicos que mejoran la eficiencia y la facilidad de uso de nuestros productos.</p>
            </div>
        </div>
    </div>
    <div id="company-card-list" class="animate__animated animate__fadeIn">
        <div class="company-card animate__animated animate__fadeInLeft" data-company="quienes-somos">
            <div class="company-card__overlay"></div>
            <div class="company-card__content">
                <div class="company-card__header">
                    <h1 class="company-card__title">Servicio</h1>
                    <h4 class="company-card__info">Atención Personalizada</h4>
                </div>
                <p class="company-card__desc">Ofrecemos un servicio de atención al cliente excepcional, con asesoría personalizada para cada necesidad. Nuestro equipo de expertos está siempre dispuesto a ayudar, proporcionando soporte técnico y orientación para asegurarse de que cada cliente encuentre la solución perfecta para su negocio.</p>
            </div>
        </div>
    </div>
    <div id="company-card-list" class="animate__animated animate__fadeIn">
        <div class="company-card animate__animated animate__fadeInRight" data-company="quienes-somos">
            <div class="company-card__overlay"></div>
            <div class="company-card__content">
                <div class="company-card__header">
                    <h1 class="company-card__title">Experiencia</h1>
                    <h4 class="company-card__info">Años en el Mercado</h4>
                </div>
                <p class="company-card__desc">Con más de 20 años de experiencia, somos líderes en el sector de maquinaria industrial para gastronomía. Nuestro conocimiento profundo del mercado y nuestro compromiso con la calidad nos han permitido construir una sólida reputación y una base de clientes leales.</p>
            </div>
        </div>
    </div>

</body>