<p>password works!</p>
<form [formGroup]="passwordForm" (ngSubmit)="send()">
  <div class="clearfix">
    <div class="input-container col2 first">
      <input type="text" placeholder="contraseña" formControlName="password" />
      <div
        *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.errors?.['required']"
        class="error-message">
        <strong>La contraseña es requerida.</strong>
      </div>
    </div>
  </div>
  <input class="btn-hover color-7" type="submit" value="ENVIAR"
  data-bs-toggle="collapse" data-bs-target="#collapseExample"
  aria-expanded="false" aria-controls="collapseExample">
</form>
