/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding-top: 200px;

}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.cards_item {
    display: flex;
    padding: 1rem;
    margin-left: auto; /* Centrar las tarjetas horizontalmente */
    margin-right: auto; /* Centrar las tarjetas horizontalmente */
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: calc(25% - 1rem); /* Ajustar el ancho de las tarjetas en pantallas más grandes */
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5%;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #531D26 40%, #be3a50 100%);
}

.card_title {
    text-align: center;
    color: #D8D8D8;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    padding-bottom: 5%;
}

.card_text {
    color: #D8D8D8;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

/************************************************************/

.containerE {
    transform: scale(1.0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.containerE:after {
    position: absolute;
    top: 390px;
}

.containerE:hover {
    transform: scale(1.02);
}

.containerE-inner {
    position: relative;
    transform-origin: 50%;
    top: -160px;
    right: 140px;
}

.containerE:hover .img {
    transform: translateY(0) scale(1.2);
}

/*------------------------------------------------------------------------------*/
 

h1 {
    font: 600 1.2em/1 'Raleway', sans-serif; /* Reducir el tamaño del texto */
    color: #1a1a1abb;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    position: relative; /* Cambiar a relative para evitar la superposición */
    margin-bottom: 20px; /* Agregar margen inferior para separación */
}

span, span:after {
    font-weight: 900;
    color: #531D26;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
}

span {
    font-size: 3em; /* Reducir el tamaño del texto */
    z-index: 100;
    text-shadow: .04em .04em 0 #657572;
}

span:after {
    content: attr(data-shadow-text);
    color: rgba(0,0,0,.35);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
    mask-image: url(//f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}