<app-overlapping></app-overlapping>
<app-header></app-header>

<body [ngClass]="{ 'dark-mode': isDarkMode }">
    <app-navbar></app-navbar>

    <div class="containerE animate__animated animate__fadeIn">
        <h1>Encontra lo que Necesitas en<br><span data-shadow-text="Text-Shadow">NUESTROS PRODUCTOS</span>
            <br> Deslizando hacia abajo
        </h1>
    </div>

    <div class="main" style="margin-top: 7%;">
        
        <ul class="cards">
            <li class="cards_item animate__animated animate__zoomIn" *ngFor="let product of pagedProducts">
                <div class="card animated-image">
                    <div class="card_image"><img [src]="product.images[0]"></div>
                    <div class="card_content">
                        <h2 class="card_title"><strong>{{product.name}}</strong></h2>
                        <p class="card_text">{{ truncateText(product.description, 60) }}</p>
                        <a class="nav-link" [routerLink]="['/products/view/', product.id]" routerLinkActive="active">
                            <button class="btn card_btn containerE">LEER MAS</button>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        

        <ul class="pagination justify-content-center animate__animated animate__zoomIn">

            <li class="page-item disabled" [class.disabled]="currentPage === 1">
                <button class="page-link" (click)="setPage(1)" aria-label="First">
                    &laquo;
                </button>
            </li>


            <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
                <button class="page-link" (click)="setPage(page)">{{ page }}</button>
            </li>


            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <button class="page-link" (click)="setPage(totalPages)" aria-label="Last">
                    &raquo;
                </button>
            </li>

        </ul>

    </div>
    
    
    
    <app-footer></app-footer>
</body>

