<app-navbar></app-navbar>
<div *ngIf="listProduct">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>PRODUCT NAME</th>
                <th>DESCRIPTION</th>
                <th>VIEW HIGHER JOI JOI</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listProduct">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td><button [routerLink]="['/products/view/', product.id ]">VIEW</button></td>
            </tr>
        </tbody>
    </table>
</div>