<app-header></app-header>


<body [ngClass]="{ 'dark-mode': isDarkMode }">
    <app-navbar></app-navbar>

    <div class="containerE animate__animated animate__fadeIn">
        <h1>Explora la Excelencia en<br><span data-shadow-text="Text-Shadow">NUESTROS PRODUCTOS</span>
            <br> y Encontra lo que Necesitas
        </h1>
    </div>

    <div class="main">
        <ul class="cards">
            <li class="cards_item animate__animated animate__zoomIn" *ngFor="let product of listProduct">
                <div class="card">
                    <div class="card_image"><img src="{{product.images[0]}}"></div>
                    <div class="card_content">
                        <h2 class="card_title"><strong>{{product.name}}</strong></h2>
                        <p class="card_text">{{ truncateText(product.description, 60) }}</p>
                        <a class="nav-link" [routerLink]="['/products/view/', product.id]" routerLinkActive="active"
                            href="#">
                            <button class="btn card_btn containerE">LEER MAS</button>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>




</body>
<app-footer></app-footer>