.navbar {
    background-color: #531D26;
    position: fixed;
    top: 94px;
    width: 100%;
    z-index: 999;
}

.navbar.dark-mode {
    background-color: #1a1a2e;
}
.navbar-nav .nav-item {
    padding-right: 30px;
}
.navbar-nav .nav-link {
    text-decoration: none;
    color: #D8D8D8;
    display: flex;
    align-items: center;
}
.navbar-nav .nav-link .nav-icon {
    width: 42px;
    height: 42px;
    margin-right: 8px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    color: #D8D8D8;
}

.navbar ul li a:hover {
    color: #723a43;
}

.dark-mode.navbar ul li a:hover {
    color: #5c5c8b;
}
@media (max-width: 992px) {
    .navbar {
        top: 148px;
    }
}

@media (max-width: 768px) {
    .navbar {
        top: 146px;
    }
}

@media (max-width: 576px) {
    .navbar {
        top: 143px;
    }
}