body {
    background-color: white;
    padding-top: 180px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error_text{
    font-family: 'Monserrat';
    color: #1a1a1a;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}