body {
    background-color: white;
    padding-top: 100px;
}

body.dark-mode{
    background-color: #1A1A1A;
}


.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 100px;
}

.error_text{
    font-family: 'Monserrat';
    color: #1a1a1a;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}
   
.dark-mode .error_text{
color: #D8D8D8;
}

#project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
}

.dark-mode #project-container{
    background: #1A1A1A;
}

#left {
    flex: 0 1 30%;
    margin-right: 20px;
}

#left #carouselExampleInterval {
    width: 100%;
    height: auto;
}

#left .carousel-inner {
    height: auto;
}

#left .carousel-item {
    height: auto;
}

#left .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#right {
    flex: 1;
    max-width: 60%;
    background: linear-gradient(to bottom left, #531D26 40%, #b3364b 100%);
    padding: 25px;
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #D8D8D8;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.dark-mode #right {
    background: linear-gradient(to bottom left, #1a1a2e 40%, #313179 100%);
    box-shadow: 0px 3px 15px -1px rgba(255, 255, 255, 0.2);

}

#right h2 {
    font-size: 2.0em;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    color: #D8D8D8;
}

#details-description {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

#right ul {
    padding-left: 0;
    list-style-type: none;
    flex: 1;
}

#right ul li {
    font-size: 0.9em;
    margin-bottom: 8px;
    color: #D8D8D8;
    position: relative;
    padding-left: 20px;
}

#right ul li::before {
    content: '-';
    position: absolute;
    left: 0;
    color: #D8D8D8;
}

#right p {
    flex: 2;
    font-size: 1em;
    margin-left: 20px;
    color: #D8D8D8;
}

#right button.purchase {
    background: #D8D8D8;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 14px 0;
    color: #1A1A1A;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
 }

#right button.purchase:hover {
    background: #C0C0C0;
}

#right button.purchase i {
    margin-left: 8px;
    font-size: 1.2em;
}

/*-------------------------------------------------------------*/

@import 'https://fonts.googleapis.com/css?family=Inconsolata';

.bodyE {
  box-sizing: border-box;
  height: 100%;
  background-color: #000000;
  background-image: radial-gradient(#531D26, #9D4A68), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inconsolata', Helvetica, sans-serif;
  font-size: 1.5rem;
  color: rgba(255, 128, 128, 0.8);
  text-shadow:
      0 0 1ex rgb(255, 51, 51),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      rgba(128, 32, 32, 0.2) 2%,
      rgba(128, 32, 32, 0.8) 3%,
      rgba(128, 32, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}


.output {
  color: rgba(255, 128, 128, 0.8);
  text-shadow:
      0 0 1px rgba(255, 51, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}



a {
  color: #fff;
  text-decoration: none;
}

.errorcode {
  color: white;
}

small{
  text-transform: lowercase;
  font-size: 20px;
  color: rgb(248, 113, 113);
}

.dark-mode .bodyE {
    box-sizing: border-box;
    height: 100%;
    background-color: #000000;
    background-image: radial-gradient(#1a1a2e, #434366), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgba(183, 128, 255, 0.8);
    text-shadow:
        0 0 1ex rgb(183, 51, 255),
        0 0 2px rgba(255, 255, 255, 0.8);
  }

  .dark-mode .overlay::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg,
        transparent 0%,
        rgba(66, 32, 128, 0.2) 2%,
        rgba(66, 32, 128, 0.8) 3%,
        rgba(66, 32, 128, 0.2) 3%,
        transparent 100%);
    background-repeat: no-repeat;
    animation: scan 7.5s linear 0s infinite;
  }

  .dark-mode .output {
    color: rgba(177, 128, 255, 0.8);
    text-shadow:
        0 0 1px rgba(122, 51, 255, 0.4),
        0 0 2px rgba(255, 255, 255, 0.8);
  }

  .dark-mode small{
    text-transform: lowercase;
    font-size: 20px;
    color: #d3b8ff;
  }